{% extends 'base.html' %}

{% comment %}The base HTML file is located in /app/view/base.html. We are extending that file using template inheritance to display the welcome page.{% endcomment %}

{% block content %}
	<h2>Welcome to your installation of the Outlast Framework!</h2>
	
	{% block text %}

		{% comment %}Let's display the following variable in an h1 tag, but only if it is defined!{% endcomment %}
		{% if my_own_template_variable %}<br/><h1 style="color: red; text-align: center;">{{my_own_template_variable}}</h1>{% endif %}

		<br/>

		<h3><i class="glyphicon glyphicon-sort pull-right"></i> Handling requests</h3>
		<div class="well">
			<p>To demonstrate the way Outlast Framework handles requests and displays templates try the following requests. Then take a look at the code to see how we do this...</p>
			<ol>
				<li><a href='{{baseurl}}sample/'>Try running http:{{baseurl}}sample/ first.</a></li>
				<li><a href='{{baseurl}}sample/try/this/'>Then try running http:{{baseurl}}sample/try/this/.</a></li>
				<li><a onclick="zaj.ajax.get('sample/try/some/ajax/', function(r){ zaj.alert(r); })">Now do an ajax request to http:{{baseurl}}sample/try/some/ajax/.</a></li>
			</ol>
		</div>

		<br/>

		<h3><i class="glyphicon glyphicon-file pull-right"></i> Using the template system</h3>

		<div class="well">
			<p>You are not required to use OFW's template system, but its standardized syntax and powerful template inheritance is more than useful. It'll be very familiar if you've used the template languages of Laravel, Django, or Symfony.</p>

			<ol>
				<li>Read an <a href='http://framework.outlast.hu/template/template-syntax/' target="_blank">overview of the template syntax</a></li>
				<li>Discover how to use <a href='http://framework.outlast.hu/template/variables/' target="_blank">template variables</a></li>
				<li>Check out the built-in <a href='http://framework.outlast.hu/template/template-tags/' target="_blank">tags</a> and <a href='http://framework.outlast.hu/template/filters/' target="_blank">filters</a></li>
				<li>Create your own <a href="http://framework.outlast.hu/template/custom-tags-and-filters/" target="_blank">tags and filters</a></li>
				<li>See some <a href="http://framework.outlast.hu/template/tips-and-tricks/" target="_blank">advanced tips and tricks</a></li>
			</ol>
		</div>

	{% endblock text %}
	
{% endblock content %}

{% comment %}BE CAREFUL! When you extend files be sure not to but anything important outside of blocks - they will not be processed!{% endcomment %}