body .buorg {
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    border-bottom:1px solid #444;
    background:#eee no-repeat 1em 0.55em url(http://browser-update.org/img/dialog-warning.gif);\
    text-align:left;
    cursor:pointer;
    font-family: Helvetica,Arial,sans-serif; color:#000;
    font-size: 12px;
}
body .buorg div {
    padding:5px 36px 5px 40px;
}
body .buorg a {
    color:#900;
    font-weight: bold;
}
body #buorgclose {
    position: absolute;
    right: .5em;
    top:.4em;
    height: 20px;
    width: 12px;
    font-weight: bold;
    font-size:14px;
    padding:0;
}